@font-face {
  font-family: 'HelveticaNeue';
  src: url('fonts/HelveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'), url('fonts/HelveticaNeue/HelveticaNeue.ttf')  format('truetype'), url('fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.woff') format('woff'), url('fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf')  format('truetype'), url('fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('fonts/HelveticaNeue-Light/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeue-Light/HelveticaNeue-Light.woff') format('woff'), url('fonts/HelveticaNeue-Light/HelveticaNeue-Light.ttf')  format('truetype'), url('fonts/HelveticaNeue-Light/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.woff') format('woff'), url('fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.ttf')  format('truetype'), url('fonts/HelveticaNeue-Medium/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SocialGothic';
  src: url('fonts/SocialGothic/SocialGothic.eot?#iefix') format('embedded-opentype'),  url('fonts/SocialGothic/SocialGothic.woff') format('woff'), url('fonts/SocialGothic/SocialGothic.ttf')  format('truetype'), url('fonts/SocialGothic/SocialGothic.svg#SocialGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SocialGothic-DemiBold';
  src: url('fonts/SocialGothic-DemiBold/SocialGothic-DemiBold.eot?#iefix') format('embedded-opentype'),  url('fonts/SocialGothic-DemiBold/SocialGothic-DemiBold.woff') format('woff'), url('fonts/SocialGothic-DemiBold/SocialGothic-DemiBold.ttf')  format('truetype'), url('fonts/SocialGothic-DemiBold/SocialGothic-DemiBold.svg#SocialGothic-DemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{
    font-family: 'HelveticaNeue';
}


h1,h2,h3,h4,h5,h6{
    font-family: 'SocialGothic-DemiBold';
}




