//HOMEPAGE 2


.homepage-main-items{
    .row{
        .col-12{
            margin-bottom: 10px;
        }
        .col-12:first-of-type{
            .homepage-main-items-wrapper{
                background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100%), url('assets/homepage/homepage-main-items-1.png'); 
            }           
        }
        .col-12:nth-of-type(2){
            .homepage-main-items-wrapper{
                background-image: linear-gradient(190.24deg, rgba(0,0,0,0) 0%, #000000 100%), url('assets/homepage/homepage-main-items-2.png'); 
                h1{
                    padding-right: 10%;
                }
                a,p{
                    color:$gray-100!important; 
                }
                a:hover{
                    color: $green!important;
                }
            }            
        }
        .col-12:nth-of-type(3){
            .homepage-main-items-wrapper{
                background-image: linear-gradient(190.24deg, rgba(0,0,0,0) 0%, #000000 100%), url('assets/homepage/homepage-main-items-3.png'); 
                h1{
                    padding-right: 10%;
                }
                a,p{
                    color:$gray-100!important; 
                }
                a:hover{
                    color: $green!important;
                }
            }            
        }
    }
    .homepage-main-items-wrapper{       
        height: 220px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding-left: 14px;
        padding-bottom: 14px;
        padding-right: 14px;
        a:hover{
            color: $green!important;
        }
    }
    .homepage-main-items-details{
        h1{
            a{
                font-size: 26px;  
            }
        }
        p{
            font-size: 12px;
        }
    }
}


//HOMEPAGE 1

.homepage-main-items-page-1{
    .row{
        .col-12{
            margin-bottom: 10px;
        }
        .col-12:first-of-type{
            .homepage-main-items-wrapper{
                background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100%), url('assets/homepage/homepage-main-items-1.png'); 
            } 
            display: none!important;
        }
        .col-12:nth-of-type(2){
            .homepage-main-items-wrapper{
                background-image: linear-gradient(190.24deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%), url('assets/homepage/homepage1-main-items-1.png'); 
                h1{
                    padding-right: 10%;
                }
                a,p{
                    color:$gray-100!important; 
                }
                a:hover{
                    color: $green!important;
                }
            }            
        }
        .col-12:nth-of-type(3){
            .homepage-main-items-wrapper{
                background-image: linear-gradient(190.24deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%), url('assets/homepage/homepage-main-items-3.png'); 
                h1{
                    padding-right: 10%;
                }
                a,p{
                    color:$gray-100!important; 
                }
                a:hover{
                    color: $green!important;
                }
            }            
        }       
    }
    .homepage-main-items-wrapper{       
        height: 220px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        padding-left: 14px;
        padding-bottom: 14px;
        padding-right: 14px;
        a:hover{
            color: $green!important;
        }
    }
    .homepage-main-items-details{
        h1{
            a{
                font-size: 26px;                
            }
        }
        p{
            font-size: 12px;
        }
    }
}


//HOMEPAGE 3

.homepage-main-items-page-3{
    .row{
        .col-12{
            margin-bottom: 10px;
        }
        .col-12:first-of-type{
            .homepage-main-items-wrapper{
                background-image: linear-gradient(190.24deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%), url('assets/homepage/homepage-main-items-2.png'); 
            } 
        }
        .col-12:nth-of-type(2){
            .homepage-main-items-wrapper{
                background-image: linear-gradient(190.24deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%), url('assets/homepage/homepage1-main-items-1.png'); 
            }            
        }
        .col-12:nth-of-type(3){
            .homepage-main-items-wrapper{
                background-image: linear-gradient(190.24deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%), url('assets/homepage/homepage3-main-items-3.png'); 
            }            
        }       
    }
    .homepage-main-items-wrapper{       
        height: 220px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        padding-left: 14px;
        padding-bottom: 16px;
        padding-right: 14px;
        a:hover{
            color: $green!important;
        }
    }
    .homepage-main-items-details{
        h1{
            a{
                font-size: 26px;                
            }
        }
        p{
            font-size: 12px;
        }
    }
}








@media(min-width:576px){

    //HOMEPAGE 2

    .homepage-main-items{
        .homepage-main-items-wrapper{
            height: 300px;
            padding-left: 20px;
            padding-bottom: 20px;
            padding-right: 20px;
        }
    }

    //HOMEPAGE 1

    .homepage-main-items-page-1{
        .homepage-main-items-wrapper{
            height: 300px;
            padding-left: 20px;
            padding-bottom: 20px;
            padding-right: 20px;
        }
    }


    //HOMEPAGE 3

    .homepage-main-items-page-3{
        .homepage-main-items-wrapper{
            height: 300px;
            padding-left: 18px;
            padding-bottom: 28px;
            padding-right: 18px;
        }
        .homepage-main-items-details{
            h1{
                a{
                    font-size: 36px;                
                }
            }
            p{
                font-size: 16px;
            }
        }
    }


}

@media(min-width:768px){

    //HOMEPAGE 2

    .homepage-main-items{       
        .homepage-main-items-details{
            h1{
                a{
                    font-size: 30px;                
                }
            }
            p{
                font-size: 14px;
            }
        }
    }


    //HOMEPAGE 1

    .homepage-main-items-page-1{       
        .homepage-main-items-details{
            h1{
                a{
                    font-size: 30px;                
                }
            }
            p{
                font-size: 14px;
            }
        }
    }


    //HOMEPAGE 3

    .homepage-main-items-page-3{       
        .homepage-main-items-details{
            h1{
                a{
                    font-size: 38px;                
                }
            }
            p{
                font-size: 17px;
            }
        }
    }



}


@media(min-width:992px){

    //HOMEPAGE 2

    .homepage-main-items{
        .row{
            .col-12{
                margin-bottom: 0;
            }
            .col-12:first-of-type{
                .homepage-main-items-wrapper{
                    padding-right: 50%;
                }  
                margin-bottom: 20px;
            }
            .col-12:nth-of-type(2){
                .homepage-main-items-wrapper{ 
                    h1{
                        padding-right: 60%;
                    }
                }            
            }
            .col-12:nth-of-type(3){
                .homepage-main-items-wrapper{
                    h1{
                        padding-right: 60%;
                    }
                }            
            }
        }
        .homepage-main-items-wrapper{       
            height: 370px;

            padding-left: 20px;
            padding-bottom: 20px;
            padding-right: 70px;
        }
        .homepage-main-items-details{
            h1{
                a{
                    font-size: 2.57rem;                
                }
            }
            p{
                font-size: 14px;
            }
        }
    }



    //HOMEPAGE 1

    .homepage-main-items-page-1{
        .row{
            .col-12{
                margin-bottom: 0;
            }
            .col-12:first-of-type{
                .homepage-main-items-wrapper{
                    padding-right: 50%;
                }  
                margin-bottom: 20px;
            }
            .col-12:nth-of-type(2){
                .homepage-main-items-wrapper{ 
                    h1{
                        padding-right: 60%;
                    }
                }            
            }
            .col-12:nth-of-type(3){
                .homepage-main-items-wrapper{
                    h1{
                        padding-right: 60%;
                    }
                }            
            }
        }
        .homepage-main-items-wrapper{       
            height: 370px;

            padding-left: 20px;
            padding-bottom: 20px;
            padding-right: 70px;
        }
        .homepage-main-items-details{
            h1{
                a{
                    font-size: 2.57rem;                
                }
            }
            p{
                font-size: 14px;
            }
        }
    }



    //HOMEPAGE 3

    .homepage-main-items-page-3{

        .homepage-main-items-wrapper{       
            height: 450px;
            padding-left: 15px;
            padding-bottom: 30px;
            padding-right: 15px;
        }
        .homepage-main-items-details{
            h1{
                padding-right:30%;
                a{
                    font-size: 2.57rem;                
                }
            }
            p{
                font-size: 13px;
            }
        }
    }

}

@media(min-width:1200px){
    //HOMEPAGE 3

    .homepage-main-items-page-3{

        .homepage-main-items-wrapper{       
            height: 536px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 40px;
        }
    }
}