.main-cards{
    h1{
        color: $green-2;
        font-size: 1.6rem;
    }
    figure{
        height: 30px;
        width: 30px;
    }

    a{
        transition: 0.5s ease;
        img{
            padding-top: 7%;
            padding-bottom: 7%;
        }
    }
    a:hover{
        background-color: darken($gray-100,10%);
    }
}

@media(min-width:576px){
    .main-cards{
        h1{
            font-size: 2.2rem;
        }
        figure{
            height: 40px;
            width: 40px;
        }
    }
}
@media(min-width:768px){
    .main-cards{
        h1{
            font-size: 2rem;
        }
    }
}
@media(min-width:1200px){
    .main-cards{
        h1{
            font-size: 2.57rem;
        }
    }
}